.heart {
  background-color: red;
  display: inline-block;
  height: 60px;
  margin: 10px;
  position: relative;
  top: 10px;
  transform: rotate(-45deg);
  width: 60px;
  animation: pulse 1s ease infinite;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
}

.heart:before {
  top: -30px;
  left: 0;
}

.heart:after {
  left: 30px;
  top: 0;
}

@keyframes pulse {
  0% { transform: scale(1); }
  40% { transform: scale(1.1); }
  50% { transform: scale(1); }
}

.body
{
background-color: pink; 
text-align :  center;
font-family: Montserrat, sans-serif;
font-weight: bold;
font-size: large;
}